body {
    font-family: sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 2rem;
}

#controls {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.control-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.favorites-toggle {
    background: #ffee00;
    color: #444;
}

.overlap-toggle {
    background: #444;
    color: white;
}

.stop-button {
    background: #aa0000;
    color: white;
}

#search-input {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    flex: 1;
}

#soundboard {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 100px;
}

.sound-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.sound-wrapper:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
    transition: 10ms;
}

.sound-button-img {
    all: unset;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: relative;
}

.sound-image {
    width: 100%;
    height: 100%;
    background-color: var(--btn-color);
    background-image: url('https://cdn.jsdelivr.net/gh/genizy/soundboard@155ea6666132bde6f7f14c413431e0fd7eaeaba9/button.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    border-radius: 50%;
    transition: transform 0.1s, filter 0.2s;
    box-shadow: 0 0 8px var(--btn-color);
}

.sound-image.pressed {
    background-image: url('https://cdn.jsdelivr.net/gh/genizy/soundboard@155ea6666132bde6f7f14c413431e0fd7eaeaba9/button_pressed.png');
    transform: scale(0.95);
}

.sound-label {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    color: #eee;
    font-weight: bold;
    word-break: break-word;
}

.right-click-panel {
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.right-click-panel-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.right-click-panel-button {
    padding: 5px;
}
